# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# JavaScript/Node
# tools/node/bin/pm2* (Commented out to allow tracking)
!tools/node/lib/node_modules/
dist/
coverage/
.DS_Store

# IDE
.idea/
.vscode/

# System
thumbs.db
*.db
backend/sql_app.db

# Logs
*.log
tools/node/bin/pm2*
*.db.pre_pg_migration
db_backup_pre_cleanup.sql

# Temporary Debug Scripts
debug_log.py
debug_log_search.py

# Node Modules (Frontend)
frontend/node_modules/

# Utils
tools/cleanup_ohlcv.py

